.code {
  /* added !important because the css rules are not the same on production */
  margin-bottom: 0!important; 
}

.code pre {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.result {
  padding: 1.5rem;
  border-left: solid 1px var(--ifm-toc-border-color);
  border-right: solid 1px var(--ifm-toc-border-color);
  border-bottom: solid 1px var(--ifm-toc-border-color);
  border-bottom-left-radius: var(--ifm-global-radius);
  border-bottom-right-radius: var(--ifm-global-radius);
  margin-bottom: 5rem; 
}

.dense {
  margin-bottom: 1.25rem;
}

.codeHidden {
  border: solid 1px var(--ifm-toc-border-color);
  border-radius: var(--ifm-global-radius);
}